
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body bgcolor="#f8f9fa">
    
    <div >
        <div class="log">
        <h1 class="login">Minimal login form</h1>
        </div>
    </div>
<div class="parent">
    <form method="POST">
        {% csrf_token %}
    <div class="box">
        <div class="user">
        <label for="text"> <b> Username or Email</b></label>
        
        <input type="email" name="email" placeholder="Username Or Email" class="mail">
        </div>
    
        <div class="pass">
        <label for="text"><b>Password</b></label>
        
        <input type="password" name="pass" placeholder="Password" class="mail">
        </div>
    
        <div>
            <input type="submit" value="Login">
        </div>
    </div>
        <div class="box">
            
            
            <div class="abc">
            <p>Or login with</p>
            </div>
            <div ><button style="background-color: blue;" class="fa"> <b> Login with facebok </b></button></div>
            <div ><button style="background-color: rgb(26, 187, 250);" class="tw"><b> Login with Twetter</b></button></div>
        
            <div class="pqr">
            <p>Not yet registered? <a href="#signnup">signup</a> here</p>
            </div>
        </div>
    
    </form>
</div>

    <div class="last">
        <p>&copy;2020 Minimal login form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
    </div>
   
