
<html>
    <body>
        <style>
            
        </style>
        <table border="2px">
            <tr>
                <th>
                    name
                </th>
                <th>
                    email
                </th>
            </tr>
            <tr>
                <td>
                    abc
                </td>
                <td>abc@gmail.com</td>
            </tr>
        </table>
        <a href="{% url 'login' %}">Go to Login page</a>
    </body>
</html>